.progress__container {
  --border-radius: 2px;

  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: var(--size-xs);

  .mobius\/Text {
    margin: 0;
  }

  .mobius\/Label {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-normal);
    padding-bottom: 0;
    color: var(--color-neutral-500);
    white-space: nowrap;
  }
}

.progress__bar {
  width: 100%;
  height: var(--size-xxs);
  -webkit-appearance: none;
  // This only applies to Firefox
  background-color: #fbd9f4;
  border: none;
  border-radius: var(--border-radius);
  overflow: hidden;

  &::-webkit-progress-value {
    // Bubblegum
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    transition: width 1s;
  }

  &::-webkit-progress-bar {
    // Bubblegum light
    background-color: #fbd9f4;
    border-radius: var(--border-radius);
  }

  &::-webkit-progress-inner-element {
    border-radius: var(--border-radius);
  }

  // Firefox
  &::-moz-progress-bar {
    height: 0;
    transition: padding-bottom 1s;
    padding-bottom: var(--progress-value);
    background-color: var(--color-secondary);
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-10px);
  }
}
